<div class="left-menu">
    <router-link to="/" class="menu-items" ><span><i class="fa fa-database" aria-hidden="true"></i></span></router-link>
    <router-link to="/pie" class="menu-items"  ><span><i class="fa fa-pie-chart" aria-hidden="true"></i></span></router-link>
    <router-link to="/bar" class="menu-items" ><span><i class="fa fa-bar-chart" aria-hidden="true"></i></span></router-link>
    <router-link to="/line" class="menu-items" ><span><i class="fa fa-line-chart" aria-hidden="true"></i></span></router-link>
    <!-- <router-link to="/cards" class="menu-items" ><span><i class="fa fa-th-large" aria-hidden="true"></i></span></router-link> -->
    <router-link to="/column" class="menu-items" ><span><i class="fa fa-columns" aria-hidden="true"></i></span></router-link>
    <a href="https://github.com/covid19india" class="menu-items" title="data reference" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
</div>
