<div>
    <form class="from" @submit.prevent="register()">
        <div class="form__group">
            <input type="text" class="form__input" v-model="userData.userName" placeholder="Username" id="name" required>
            <label for="name" class="form__label">Username</label>
        </div>
        <div class="form__group">
            <input type="password" class="form__input" placeholder="Password" v-model = "userData.password" id="password" required>
            <label for="password" class="form__label">Password</label>
        </div>
        <div class="form__group">
            <input type="email" class="form__input" v-model="userData.email" placeholder="Email" id="email" >
            <label for="email" class="form__label">Email</label>
        </div>
        <div class="form__group">
            <input type="phone" class="form__input" v-model="userData.phoneNumber" placeholder="Phone" id="phone" >
            <label for="phone" class="form__label">Phone</label>
        </div>
        <p>{{error}}</p>
        <button class="button" type="submit" value="SignUp">Sign Up</button>
       
    </form>

</div>